<div class="container">

    <div class="search">
        <div class="fio">
            <label for="fio">ФИО</label>
            <input type="text" [(ngModel)]="fioQuery" id="fio">
        </div>

<!--        <mat-date-range-input [rangePicker]="picker">-->
<!--            <input matStartDate placeholder="Start date">-->
<!--            <input matEndDate placeholder="End date">-->
<!--        </mat-date-range-input>-->

<!--        <mat-date-range-picker #picker></mat-date-range-picker>-->
<!--        <p>Example of the range selection</p>-->

<!--        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">-->
<!--        </ngb-datepicker>-->

<!--        <ng-template #t let-date let-focused="focused">-->
<!--  <span class="custom-day"-->
<!--        [class.focused]="focused"-->
<!--        [class.range]="isRange(date)"-->
<!--        [class.faded]="isHovered(date) || isInside(date)"-->
<!--        (mouseenter)="hoveredDate = date"-->
<!--        (mouseleave)="hoveredDate = null">-->
<!--    {{ date.day }}-->
<!--  </span>-->
<!--        </ng-template>-->

<!--        <hr>-->

<!--        <pre>From: {{ fromDate | json }} </pre>-->
<!--        <pre>To: {{ toDate | json }} </pre>-->
        <p>Example of the range selection</p>

        <ngb-datepicker #dp (dateSelect)="datepickerRange.onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
        </ng-template>

        <hr>

        <pre>From: {{ fromDate | json }} </pre>
        <pre>To: {{ toDate | json }} </pre>
        <div class="date">
            <label>Дата добавления</label>
            <input
                    [(ngModel)] = "dates['minDate']"
                    type="date"
                    value="{{home.date | date: 'yyyy-MM-dd'}}"
                    min="1950-01-01"
                    max="2050-12-31">
<!--            max="2050-12-31">-->
            <label>-</label>
            <input
                    #maxdate
                    type="date"
                    value="{{home.date | date: 'yyyy-MM-dd'}}"
                    min="1900-01-01"
                    max="2100-01-01"
            >
        </div>

        <div class="technologies">
            <label>Технологии</label>
            <div
                    *ngFor="let tech of technologies; let idx = index;trackBy:trackByIdx" class="checkbox-tech"
                    [(ngModel)]="technologies[idx].check"

                    ngDefaultControl
                    (click)="onCheck(tech.name)"
                    [ngStyle]="{
          backgroundColor: tech.check ? '#939393' : 'white'
        }"
            >
                {{tech.name}}
            </div>
        </div>
    </div>

    <div class="table">
        <table>

            <thead>
            <tr>
                <th>№ п/п</th>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Технологии</th>
                <th>Описание</th>
                <th>Просмотр</th>
            </tr>
            </thead>
            <tbody>
            <tr app-candidate
                *ngFor="let candidate of (newCandidates | fioSearch:fioQuery) | techSearch: technologies; let idx = index"
                [candidateInfo]="candidate" [idx]="idx+1">

            </tr>
            </tbody>
        </table>
    </div>
</div>
