form {
  height: 100%;
}
.lvl-tech {
  display: flex;
  flex-direction: row;
}

.lvl-tech p {
  margin: 10px;
}

.choice {
  width: 15px;
  height: 15px;
  border: 1px solid;
  align-self: center;
  cursor: pointer;
}

.form-inputs {
  width: 100%;
  padding: 0 2%;
}

.form-inputs .add-candidate {
  width: 100%;
}


.choice-technologies {
  height: 700px;
  overflow: auto;
}

.container textarea {
  resize: none;
  height: 60px;
}

.mat-grid-tile-content {
  align-items: flex-start;
  overflow: scroll;
}


.choice-technologies{
  overflow: auto;
}
.tech-name {
  margin-right: 3px;
}

.form-scroller {
  overflow-y: scroll;
}

.container {
  display: flex;
  max-width: 100%;
  max-height: 100%;

}

.technology {
  overflow: auto;
  flex: 0 0 50%;
}
